<h1>Recherche en cours...</h1>

<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <title>Recherche</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/search.css' %}">

</head>

<body>
    <form action="{% url 'search:search_city' %}" method = "post">
        {% csrf_token %}
    <label for = "city_select">Sélectionnez une ville : </label>
    <select name="selected_city">
        {% for city in cities %}
        <option value = {{city.name}} > {{city.name}} </option>
        {% endfor %}
        </select>
        <input type="submit" value="Je valide !">
    </form>


        {% if city_image %}
            <!-- <p> Image ou lien Ville :{{ City.name }}</p> -->
            <img src="{{ city_image }}" alt="{{ City.name }}" title="{{ City.name }}">
<p>city_id : {{city_id}}</p>
            <form action="{% url 'search:search_zone' %}" method = "post">
                {% csrf_token %}
            <label for = "zone_select">Sélectionnez une zone d'après l'image ci_dessous : </label>
            <select name="selected_zone">
                {% for zone in zones %}
                <option value = {{zone.name}} > {{zone.name}} </option>
                {% endfor %}
                </select>
                <input type="submit" value="Je valide !">
            </form>
        {% endif %}


        {% if selected_zone %}
<p>zone_id : {{zone_id}}</p>
            <form action="{% url 'search:search_garbage' zone_id %}" method = "post">
                {% csrf_token %}
            <label for = "garbage_select">Sélectionnez un déchet : </label>
            <select name="selected_garbage">
                {% for garbage in garbages %}
                <option value = {{garbage.name}} > {{garbage.name}} </option>
                {% endfor %}
                </select>
                <input type="submit" value="Je valide !">
            </form>
        {% endif %}


        {% if selected_garbage %}
        <p>déchet sélectionné</p>
        <p>Déchet : {{collect}}</p>
        <!-- <form action="{% url 'search:search_view' %}" method = "post">
            {% csrf_token %}
        <label for = "garbage_select">Sélectionnez un déchet : </label>
        <select name="selected_garbage">
            {% for garbage in garbages %}
            <option value = {{garbage.name}} > {{garbage.name}} </option>
            {% endfor %}
            </select>
            <input type="submit" value="Je valide !"> -->
        <!-- </form> -->
    {% endif %}




<br><br><br><br><br><br>
<p> - - - - - - - - - - - - - - - - TESTS - - - - - - - - - - - - - - - -</p>
<p>Toutes les villes enregistrées : </p>

    {% if zones %}
    <ul>
        {% for zone in zones %}
        <li>
            <h3> {{zone.name}} </h3>
        {% endfor %}
        </li>
    </ul>
    {% endif %}

    <p>Toutes les villes enregistrées : </p>
    {% if cities %}
    <ul>
        {% for city in cities %}
        <li>
            <h3> {{city.name}} </h3>
        {% endfor %}
        </li>
    </ul>
    {% endif %}

</body>

</html>