{% extends "home/main_layout.html" %}
{% load static %}
{{ block.super }}
<script type="text/javascript" src="/merciletri/home/static/home/js/game.js' %}"></script>

{% block page_title %} Jeu {% endblock page_title %}

{% block game %}

    {% if not Running and not Dest_resultat %}
        <section class="modules">
            <div class="row">
                <img src="{% static 'game/images/banana.png' %}" alt="Banane" id="moved-1" />
                <img src="{% static 'game/images/milk.png' %}" alt="Sales logo" id="moved-2" />
                <img src="{% static 'game/images/plastic-bottles.png' %}" alt="Purchase logo" id="moved-3" />
                <img src="{% static 'game/images/tree-leaves.png' %}" alt="Accountancy logo" id="moved-4" />
                <img src="{% static 'game/images/newspaper.png' %}" alt="Ecommerce logo" id="moved-5" />
                <img src="{% static 'game/images/can.png' %}" alt="MRP logo" id="moved-6" />
                <img src="{% static 'game/images/pizza.png' %}" alt="Project logo" id="moved-7" />
            </div>
        </section>

        <form class='response' action="{% url 'game:game' %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" name="ask_running" value="JOUER" />
        </form>

    {% elif not Dest_resultat %}
        <div class="game">
            <div class=img-garbage>
                <img src="{{ Image.url }}" alt="{{ Selected_garbage.name }}" title="{{ Selected_garbage.name }}">
            </div>

            <form class='response' action="{% url 'game:game' Selected_garbage.id %}" method="post">
                {% csrf_token %}
                <label for="destination_select">Où va ce déchet ? </label>
                <select name="selected_destination">
                    {% for destination in Destinations %}
                        <option value={{forloop.counter0}}> {{destination}} </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Je valide !">
            </form>
        </div>

    {% else %}
        <p> {{Resultat}} </p>
        {% if Good_destination %}
            <p> La bonne réponse était : "{{Good_destination}}".</p>
        {% endif %}
        <form class='response' action="{% url 'game:game' %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" name="ask_running" value="rejouer" />
        </form>

    {% endif %}
{% endblock %}