*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Tahoma, sans-serif;
}

:root{
--stromboli:#406356;
--green:#5a6e41;
--mantis:#74c365;
--sunglow:#FFC53E;
--splash:#f4d695;
--floral: #fffbf4;
--cloudy:#A8A196;
--crocodile:#6D6653;
}

body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--stromboli);
}
h2{
    font-family: 'Courgette', 'Oswald', Tahoma, sans-serif;
}

/*nav*/
#nav{
    border-bottom:1px solid var(--stromboli);
}
.navbar-nav{
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navbar-brand{
    width: 15%;
}
.logo{
    width: 100%;
}
.icon{
    color:black;
}
.nav-link{
    color: black;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover{
    color: var(--mantis);
}
.search{
    border-radius: 10px;
    padding: 0.3rem;
    border: var(--mantis) solid 1px;
    transition: all 0.1s linear;
}
.search:hover{
    background :var(--stromboli);
    color: var(--floral);
}
.search:focus{
    outline:none;
    border:var(--mantis) solid 2px;
}

/* title */
#title{
    margin: 2rem auto;
}
.title{
    text-align: center;
}

/* content */
.content{
    padding: 1.5rem 0rem;
}
.content-text{
    text-align: justify;
    padding-top: 1rem;
}
.content-img{
    text-align: center;
}
.content-img-item{
    width: 80%;
}

/* game page */
.btn{
    margin-top: 160%;
    margin-bottom: 250%;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    background-color: var(--stromboli);
    color: var(--floral);

}
.modules img{
        border-radius: 15%;
        opacity:0.3;
        position: absolute;
        z-index: -1;
        width:5%;
    }
    #moved-1{
        left: 38%;
    }
    #moved-2{
        left: 18%;
        margin-top: 8%;
    }
    #moved-3{
        left: 25%;
        margin-top: 18%;
    }
    #moved-4{
        left: 38%;
        margin-top: 20%;
    }
    #moved-5{
        left: 56%;
        margin-top: 16%;
    }
    #moved-6{
        left: 72%;
        margin-top: 8%;
    }
    #moved-7{
        left: 58%;
        margin-top: 2%;
    }

/* card */
#card{
    margin: 2rem 0rem;
}
.card-container{
    border:1px solid var(--green);
    border-radius: 10px;
    min-height: 55vh;
}
.card-img{
    text-align: center;
    position: relative;
    width: 100%;
}
.card-img-item{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-img-icon{
    position: absolute;
    background-color: var(--cloudy);
    width: 30%;
    border-radius: 3px;
    padding: 0.05rem 0.1rem;
    top: 3%;
    left: 3%;
}
.card-img-icon-text{
    text-transform: uppercase;
    font-family: 'Oswald', Tahoma, sans-serif;
    color: var(--floral);
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.card-infos{
    padding: 2rem 0.5rem 1rem 0.5rem;
}
.card-infos-title{
    padding: 2rem 1rem;
    font-size: 1.5rem;
}
.card-infos-button{
    padding-left: 1rem;
    font-size: 1rem;
    color: var(--green);
    transition: all 0.3s ease-in-out;
}
.card-infos-button:hover{
    text-decoration: none;
    color: var(--mantis);
}
.arrow{
    font-size:0.7rem;
}

/* search */
#form{
    background-color: var(--splash);
    padding: 3rem;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', Tahoma, sans-serif;
}
fieldset{
    width: 75%;
}
.input-style{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}
input{
    background-color: var(--mantis);
    /* width: 100%; */
    border-radius: 10px;
    padding: 0.3rem;
    border: var(--stromboli) solid 1px;
    outline: none;
}
label{
    text-align: right;
    /* width: 50%; */
    padding-right: 1.8rem;
    margin: 0;
    font-weight: 600;
    font-size: 0.9rem;
}
button{
    padding: 1.5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    background-color: var(--stromboli);
    color: var(--floral);
    transition: all 0.2s linear;
}
button:hover{
    background-color: var(--floral);
    border:2px solid var(--floral);
}
.map img{
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* game*/
.img-garbage img{
    width:20%;
    display: block;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}
.response{
    display: grid;
}
.response label {
    text-align: center;
}

/* footer */
#footer{
    margin-top: 3rem;
    border-top: 1px solid var(--cloudy);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid var(--cloudy);
}
.footer-logo{
    width: 10%;
}
.footer-logo-item{
width: 100%;
}
.footer-link{
    color: black;
    transition: all 0.3s ease-in-out;
}
.footer-link:hover{
    text-decoration: none;
    color: var(--mantis);
}
.footer-icon{
    font-size: 1.3rem;
    padding: 0 0.5rem;
}
.copyright{
    padding: 1rem 0;
    text-align: center;
    color: var(--cloudy);
    font-family: 'Oswald', Tahoma, sans-serif;
    font-size: 0.8rem;
}
@media screen and (max-width:768px){
    .navbar-toggler{
        font-size: 1.8rem;
        color: black;
    }
    .navbar-collapse{
        width: 100%;
        background-color:var(--floral)
    }
    .navbar-brand{
        width: 100%;
        text-align: center;
    }
    .logo{
        width: 30%;
    }
    .navbar-nav {
        align-items: center;
        padding: 1rem;
    }
    .nav-link{
        font-size: 0.8rem;
    }
    #title{
        margin-bottom: 0;
    }
    .content-text{
        padding: 1rem;
    }
    .content-img-item{
        width: 100%;
    }
    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    .card-container{
        margin-bottom: 2rem;
    }
    #form{
        padding: 0.5rem;
    }
    form{
        flex-direction: column;
    }
    fieldset{
        width: 100%;
    }
    label {
        padding-right: 1rem;
        font-size: 0.8rem;
    }
    button {
        padding: 1.2rem 0.8rem;
        font-size: 0.8rem;
        margin: 1rem 0;
    }
    .footer{
        flex-direction: column;
    }
    .footer-link{
        padding: 0.7rem 0;
    }
    .footer-logo{
        width: 30%;
    }
    .footer-icon{
        margin: 0.5rem;
    }
}